.centered{
    text-align: center;
    font-size: 77px;
}

.large{
    font-size: 77px;
}

.medium{
    font-size: medium;
}

.small{
    font-size: small;
}

.row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



img {
  height: 300px; /* Adjust the height as needed */
}
