.centered{
    text-align: center;
    font-size: 77px;
}

.large{
    font-size: 77px;
}

.medium{
    font-size: medium;
}

.small{
    font-size: small;
}

.row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



img {
    width: 90vw; /* 设置图片宽度为视口宽度的 90% */
    max-width: 100%; /* 确保图片不会比其原始尺寸更大 */
    height: auto; /* 保持图片宽高比 */
}

@media (min-width: 768px) {
    /* 在电脑视图（宽度大于等于 768px）时，固定图片宽度为 300px */
    img {
        width: 300px;
    }
}
